.users {
  padding-top: rem(80);
  padding-bottom: rem(80);
  background-color: $bg-color;
  @include for-size(tablet) {
    padding-top: rem(115);
    padding-bottom: rem(115);
  }
  @include for-size(desktop) {
    padding-top: rem(160);
    padding-bottom: rem(160);
  }
  &__title {
    text-align: center;
    @include for-size(desktop) {
      margin-bottom: rem(25);
    }
  }
  &__subtitle {
    text-align: center;
    @include for-size(tablet) {

    }
    @include for-size(desktop) {
      margin-bottom: rem(80);
    }
  }
  &__button {
    width: 100%;
    padding: rem(10) 0;
    margin: 0 auto;
  }
  &__error {
    color: $primary-color;
    margin: rem(20) 0;
    text-align: center;
  }
}

.user-info-wrapper {
  width: 100%;
}