.desktop-menu {
  display: none;
  align-self: center;
  @include for-size(desktop) {
    display: flex;
    flex-wrap: wrap;
  }
  &__list {
    display: flex;
  }
  &__item {
    margin-left: rem(29);
    &.is-active {
      a {
        color: $secondary-color;
      }
    }
  }
  &__link {
    font-size: rem(14);
    text-decoration: none;
    color: $text-color;
  }
}
