/* Fonts */
$main-font: "Open Sans", sans-serif;

$regular: 400;

/* Colors */
$primary-color: #ef5b4c;
$dark-primary-color: #d24335;
$secondary-color: #007bff;
$light-color: #ffffff;
$bg-color: #f9f9f3;
$text-color: #212529;
$paragraph-color: #4c4b4b;

/* Breakpoints */
$desktop2k: 2560px;
$desktop: 1024px;
$tablet: 768px;
$mobile: 576px;